<div>
    <div *ngIf="address.Address1">{{address.Address1}}</div>
    <div *ngIf="address.Address2">{{address.Address2}}</div>
    <div *ngIf="address.Address3">{{address.Address3}}</div>
    <div *ngIf="address.Address4">{{address.Address4}}</div>
    <div *ngIf="address.City"><span *ngIf="address.PostalCode">{{address.PostalCode}}</span> {{address.City}} <span
            *ngIf="address.State">{{address.State}}</span> <span *ngIf="address.Province">{{address.Province}}</span>
    </div>
    <div *ngIf="address.Country">{{address.Country}}</div>
</div>