/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.float-right {
    float: right;
}


/*Notifications*/
.notif-confirmation {
    background-color: darkgreen;
}

.notif-info {
    background-color: #ccc;
}

.notif-error {
    background-color: darkred;
}

.mat-button-wrapper {
    color: white;
}

.notif-warning {
    background-color: darkorange;
}