.aws-logo {
    width: 75px;
}

table {
    width: 100%;
}


.header-title {
    padding: 10px;
    font-size: x-large;
    color: #ccc;
}

.block {
    background-color: #eee;
    margin: 3px;
    padding: 3px;
}

.block-title {
    background-color: #eee;
    color: 333;

}

.align-center {
    text-align: center;
}

.sub-title {
    color: #0664e9;

}


.admin-panel {
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
}



.delete-icon {
    float: right;
    cursor: pointer;
    color: darkred;
    z-index: 1000;
}


.compare-status-match {
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 5px;
}


.compare-status-nomatch {
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    background-color: firebrick;
    color: white;
    padding: 5px;
    margin-top: 12px;
}

.profile-category {}

.panel-title {
    font-size: larger;
}

.form-button {
    margin: 3px;
}

.traveller-title {
    font-size: small;
    color: #ccc
}

.box-shadow {
    box-shadow: 3px 5px #eee;
    border: solid 1px #eee;
    padding: 10px;
    border-radius: 10px;
}

.data-element {
    padding: 3px;
}

.data-title {
    margin: 3px;
    ;
    font-size: small;
    color: #ccc
}

.data-title-icon {
    font-size: small;
    color: #ccc
}

.traveller-name {
    padding: 5px;
    font-size: 24px;
    margin: 3px;
}

.traveller-icon {
    margin-right: 5px;
}

.pronoun {
    font-size: smaller;
    color: #ccc
}

.side-bar-content {
    padding: 3px;
}

.profile-match {
    padding: 5px;
}

.match-content {
    margin-left: 3px;
    ;
}

.profile-match:hover {
    background-color: #eee;
    cursor: pointer;
}

.error-timestamp {
    margin-left: 5px;
}

.error-message {
    font-size: small;
    color: #ccc;
    margin-left: 5px;
}

.widget-container {
    width: 100%;
    display: inline-block;
    font-size: small;
    padding: 5px;
}

.table-container {
    padding: 5px;
}