.login {
    background-image: url("../../assets/background-hotel.jpeg");
    background-repeat: no-repeat;
    padding: 10px;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 25%;
    opacity: 0.9;
}

.login-form-title {
    text-align: center;
    width: 100%;
}


.login label {
    font-weight: bold;
}

.login button {
    width: 100%;
    padding: 10px;
    font-size: 24px;
}

.aws-logo {
    width: 200px;
    margin: 10px;
    ;
}