<div class="container-fluid">
    <br />
    <div class="d-sm-none">TEST </div>
    <div class="d-sm-none"> TEST2</div>
    <div class="inner-container">
        <div class="header">
            <img class="aws-logo" src="assets/1200px-Amazon_Web_Services_Logo.svg.png" />

            <div *ngIf="domains.length>0 && selectedDomain" id="settings-button"
                class="btn btn-large btn-link settings-button" (click)="showSettings()">
                <fa-icon [icon]="faCog"></fa-icon>
                Settings
            </div>

            <span id="header" class="header-title">Unified Customer Profile for Travellers and Guests </span>
        </div>
        <br />
        <div class="admin-panel">
            <div class="panel-title">ENVIRONMENTS</div>
            <br />
            <div class="row">
                <div class="col-sm-2" *ngFor="let domain of domains">
                    <div id="domain-component-name-{{domain.customerProfileDomain}}"
                        class="domain {{selectedDomain === domain.customerProfileDomain?'domain-selected':''}}"
                        (click)="selectDomain(domain.customerProfileDomain)">
                        <span class="delete-icon">
                            <fa-icon id="delete-domain-icon-{{domain.customerProfileDomain}}" [icon]="faTimes"
                                (click)="deleteDomain(domain.customerProfileDomain)"></fa-icon>
                        </span>
                        <b>{{domain.customerProfileDomain}}</b><br />
                        <span class="domain-details">Last
                            Updated on {{domain.lastUpdated |
                            date}}</span><br />
                    </div>
                </div>
                <div class="col-sm-2">
                    <!-- <div class="domain" (click)="createDomain()">
                        <i class="fa fa-plus f-2x"></i><br />
                        <b>Create a new domain</b>
                    </div>-->


                </div>

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="new-domain-button" class="btn btn-large btn-link float-right" (click)="createDomain()">
                        <fa-icon [icon]="faPlus"></fa-icon>
                        New Domain
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div *ngIf="selectedDomain">
            <div class="admin-panel">
                <div class="panel-title">SUMMARY</div>
                <br />

                <div class="row">
                    <div class="col-sm-4">
                        <span style="color:#aaa;font-size:x-small">NUMBER OF OBJECTS</span><br />
                        <span style="font-size:large">{{config.numberOfObjects}}</span>
                    </div>
                    <div class="col-sm-4">
                        <span style="color:#aaa;font-size:x-small">NUMBER OF PROFILES</span><br />
                        <span style="font-size:large">{{config.numberOfProfiles}}</span>
                    </div>
                    <div class="col-sm-4">
                        <span style="color:#aaa;font-size:x-small">INGESTION ERRORS</span><br />
                        <span style="font-size:large;cursor: pointer;" (click)="showErrors()">{{totalErrors}}</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="admin-panel" [formGroup]="searchForm">
                <div class="panel-title">SEARCH</div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">ID</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Unique ID"
                                formControlName="id">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">LAST NAME</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Last name"
                                formControlName="lastName">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">EMAIL</label>
                            <input class="form-control" type="email" [minLength]="3" placeholder="Guest Email"
                                formControlName="email">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">PHONE</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Phone"
                                formControlName="phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">CONFIRMATION</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Confirmation"
                                formControlName="confirmationNumber">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">LOYALTY ID</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Loyalty Id"
                                formControlName="loyaltyId">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <br />
                        <button type="button" class="btn btn-link" (click)="search()">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <table *ngIf="profiles.length > 0 " mat-table [dataSource]="profiles" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.unique_id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} <i style="color:#ccc"
                            *ngIf="!element.firstName">missing</i>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-primary float-right" type="button"
                            (click)="showDetail(element)">Details</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br />
        </div>
        <div *ngIf="domains.length === 0">
            <div class="row">
                <div class="col-sm-12 align-center">
                    <span class="no-domain-message">You first need to create a Unified Profile domain<br>
                        Click on the <b>New Domain</b> button get Started</span>
                </div>
            </div>
        </div>

    </div>
</div>