<h1 mat-dialog-title>Ingestion Errors ({{totalErrors}})</h1>
<div mat-dialog-content>
	<p>Below are the first 10 Ingestion errors from the queue</p>
	<div class="row" *ngFor="let err of errors">
		<div class="col-sm-12">
			<div class="ingestion-error-message">
				<span *ngIf="err.reason"><b>ERROR: {{err.reason}}</b><br /></span>
				<span>{{err.message}}</span>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary float-right  form-button" (click)="close()">
		<i class="fa fa-check"></i> Close</button>
</div>