<div class="container-fluid">
    <br />
    <div class="d-sm-none">TEST </div>
    <div class="d-sm-none"> TEST2</div>
    <div class="inner-container">
        <div *ngIf="selectedDomain">
            <br />
            <div class="admin-panel" [formGroup]="searchForm">
                <div class="panel-title">SEARCH TRAVELER</div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">ID</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Unique ID"
                                formControlName="id">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">LAST NAME</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Last name"
                                formControlName="lastName">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">EMAIL</label>
                            <input class="form-control" type="email" [minLength]="3" placeholder="Guest Email"
                                formControlName="email">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">PHONE</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Phone"
                                formControlName="phone">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">CONFIRMATION</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Confirmation"
                                formControlName="confirmationNumber">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="form-label">LOYALTY ID</label>
                            <input class="form-control" type="text" [minLength]="3" placeholder="Loyalty Id"
                                formControlName="loyaltyId">
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <br />
                        <button type="button" class="btn btn-link" (click)="search()">
                            <fa-icon [icon]="faSearch"></fa-icon>
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <table *ngIf="profiles.length > 0 " mat-table [dataSource]="profiles" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID. </th>
                    <td mat-cell *matCellDef="let element"> {{element.connectId}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef> First Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.firstName}} <i style="color:#ccc"
                            *ngIf="!element.firstName">missing</i>
                    </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.personalEmailAddress ||
                        element.businessEmailAddress}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let element"> <button class="btn btn-primary float-right" type="button"
                            (click)="viewProfile(element.connectId)">Details</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br />
        </div>
        <div *ngIf="!selectedDomain">
            <div class="row">
                <div class="col-sm-12 align-center">
                    <span class="no-domain-message">Create or Select a domain to get started</span>
                </div>
            </div>
        </div>

    </div>
</div>