<div class="container-fluid">
    <br />
    <h1>
        <fa-icon [icon]="faCog"></fa-icon>
        Settings

        <div class="float-right">
            <button id="setting-close-button" class="btn btn-danger" (click)="validate()">&#x2715;</button>
        </div>
    </h1>
    <div class="float-right text-right">
        <div class="float-right" style="color:#aaa;font-size:small">
            DOMAIN
        </div>
        <div style="font-size:large">
            {{data.selectedDomain}}
        </div>
    </div>
    <h3>Integrations</h3>
    <i>List of Business objects integration flows</i><br />
    <br />
    <div class="row ">
        <div class="col-sm-2 title align-center block-title">
            Business Object
        </div>
        <div class="col-sm-2 title align-center block-title">
            Status
        </div>
        <div class="col-sm-3 title align-center block-title">
            Execution Rule
        </div>
        <div class="col-sm-3 title align-center block-title">
            Last Run
        </div>
        <div class="col-sm-2 title align-center block-title">
            Last Run Status
        </div>
    </div>
    <div class="row integration-list" *ngFor="let integration of domain.integrations">
        <div id="business-obj-name-{{integration.target.split('/')[1]}}" class="col-sm-2  align-center">
            {{integration.target.split("/")[1]}}
        </div>
        <div class="col-sm-2  align-center">
            <span class="integration-status" [ngStyle]="{'background-color': getColorStatus(integration.status)}">{{integration.status}}</span>
        </div>
        <div class="col-sm-3  align-center">
            {{integration.trigger }}
        </div>
        <div class="col-sm-3  align-center">
            {{(integration.lastRun != '0001-01-01T00:00:00Z') ? (integration.lastRun | date: 'medium') : "No Run Yet"}}
        </div>
        <div class="col-sm-2  align-center">
            <span class="integration-status" [ngStyle]="{'background-color': getLastRunColorStatus(integration.lastRunStatus)}">
                {{integration.lastRunStatus ? integration.lastRunStatus : "No Last Run Deployed"}}</span>
        </div>
    </div>

    <br />
    <h3>Industry Connectors</h3>
    <i>List of deployed industry connectors in the account</i><br />
    <br />
    <div class="row ">
        <div class="col-sm-2 title align-center block-title">
            Connector
        </div>
        <div class="col-sm-3 title align-center block-title">
            Decription
        </div>
        <div class="col-sm-2 title align-center block-title">
            Deployment Status
        </div>
        <div class="col-sm-2 title align-center block-title">
            Business Object
        </div>
        <div class="col-sm-1 title align-center block-title">
            Action
        </div>
        <div class="col-sm-2 title align-center block-title">
            Last Run Status
        </div>
    </div>
    <div class="row integration-list" *ngFor="let conn of industryConnectors">
        <div class="col-sm-2  align-center "><img width="100px;" src="{{conn.icon}}" /></div>
        <div class="col-sm-3  align-center "><span style="font-size: small;">{{conn.description}}</span></div>
        <div class="col-sm-2  align-center ">
            <span *ngIf="conn.deploymentStatus==='Deployed'"
                class="integration-last-run-status-success">{{conn.deploymentStatus}}</span>
            <span *ngIf="conn.deploymentStatus!=='Deployed'"
                class="integration-last-run-status-failure">{{conn.deploymentStatus}}</span>
        </div>
        <div class="col-sm-2  align-center "><span>{{conn.objectType}}</span></div>
        <div class="col-sm-1  align-center ">
            <span *ngIf="!shouldShowLinkButton()">
                <button class="btn btn-link btn-sm py-0" (click)="openDeployConnectorLink()"><i class="fa fa-external-link"></i>Deploy</button>
                <button class="btn btn-link btn-sm py-0" (click)="showLinkConnector()"
                title="Link From Another Solution"><i class="fa fa-external-link"></i>Link</button></span>
            <span *ngIf="shouldShowLinkButton()">
                <button class="btn btn-link" (click)="showLinkConnector()"><i class="fa fa-external-link"></i>Link</button></span>
        </div>
        <div class="col-sm-2  align-center ">
            <span>Batch: </span>
            <span>11:22pm EST</span>
            <br />
            <span>Live: </span>
            <span>N/A</span>
        </div>
    </div>

</div>