{
    "awsProfile": "default",
    "stream": "real_time_ingestor_stream_name",
    "region": "us-west-2",
    "numProfiles": 1,
    "businessObject": "air_booking",
    "traffic": 1,
    "domain": "domain_name"
}