/*https://www.w3schools.com/colors/colors_trends.asp*/
.beginning {
    display: flex;
    white-space: nowrap;
}
.end {
    display: flex;
    white-space: nowrap;
}
.loader {
    position: fixed;
    z-index: 100000;
    opacity: 0.75;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}

.loader-content {
    margin-top: 200px;
    display: block;
}

.loader-spinner {
    font-size: 150px;
    color: white;
}

.loader-text {
    font-size: 50px;
    color: white;
    padding-left: 1em;
}

.aws-logo {
    width: 75px;
    position: relative;
    padding-left: 5px;
}

.middle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.settings-button {
    float: right;
    cursor: pointer;
}

.header {
    float: left
}

.header-title {
    padding: 10px;
    font-size: x-large;
    color: #ccc;
}

.navbar {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap
}

.navbar-toggler.domain {
    width: 200px
}
  