<div id="loader" class="loader" *ngIf="isLoading()">
    <span class="loader-content">
        <fa-icon [icon]="faSpinner"></fa-icon>
        <span class="loader-text">Loading...</span>
    </span>
</div>

<div class="container-fluid" *ngIf="this.router.url != '/login'">
    <div class="navbar navbar-expand-sg navbar-light navbar-fixed-top">
        <div class="beginning">
            <div class="dropdown">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="togglePageMenu()">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="dropdownMenuButton"
                    [ngStyle]="{'display' : getPageMenuStyle()}">
                    <span class="cursor-pointer dropdown-item" (click)="goToHome()" [routerLink]="['/home']">
                        <fa-icon [icon]="faHome"></fa-icon>
                        Home
                    </span>
                    <span class="cursor-pointer dropdown-item" (click)="goToSettings()" [routerLink]="['/settings']">
                        <fa-icon [icon]="faCog"></fa-icon>
                        Settings
                    </span>
                    <span class="cursor-pointer dropdown-item signout-menu" (click)="logout()"
                        [routerLink]="['/settings']">
                        <fa-icon [icon]="faSignOut"></fa-icon>
                        Logout
                    </span>
                </div>
            </div>
            <span id="header" class="header-title">Unified Customer Profile for Travellers and Guests on AWS </span>
        </div>


        <div class="end justify-content-end">
            <div class="dropdown">
                <div class="navbar-toggler domain-selector" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
                    <span class="domain-selector-content">
                        <fa-icon [icon]="faSqaureCaretDown"></fa-icon><span
                            class="domain-selector-text">{{selectedDomain || "click to select a domain"}}</span>
                    </span>
                </div>
                <div class="dropdown-menu navbar-dropdown" aria-labelledby="dropdownMenuButton"
                    [ngStyle]="{'display' : getDisplayStyle()}">
                    <div *ngFor="let domain of domains">
                        <span id="domain-component-name-{{domain.customerProfileDomain}}"
                            class="cursor-pointer dropdown-item" *ngIf="domain.customerProfileDomain !== selectedDomain"
                            (click)="selectDomain(domain.customerProfileDomain)">
                            <b>{{domain.customerProfileDomain}}</b><br />
                            <span class="domain-details">Last
                                Updated on {{domain.lastUpdated | date}}</span><br />
                        </span>
                    </div>
                    <br />
                    <div><button class="cursor-pointer btn btn-link" (click)="createDomain()"><fa-icon
                                [icon]="faPlus"></fa-icon> New Domain</button></div>
                </div>
            </div>
        </div>
    </div>
</div>




<router-outlet></router-outlet>

<form [formGroup]="itemForm">
</form>