{
    "localEnvName": "dev",
    "artifactBucket": "s3-bucket-name",
    "region": "us-east-1",
    "bedrockRegion": "optional, set if Bedrock is enabled in a different region that the one specified in 'region' env var",
    "auroraEndpoint": "endpoint",
    "auroraClusterName": "cluster_name",
    "auroraDbName": "db_name",
    "auroraSecretName": "secret_name",
    "ecrRepository": "repository_name",
    "ecrPublishRoleArn": "role_arn",
    "entryStreamArn": "arn:aws:kinesis:region:accountId:stream/name, used for load test setup (consider moving to separate config)",
    "accountId": "1234567890, used for some ssi-core tests"
}
